<%- include("../partials/header") -%>
<h1>
	Login
</h1>

<!-- Oauth authentication methoods -->
<a class="google-btn" href="/login/google">Login with Google</a>

<!-- Local authentication methoods -->
<%- include("../partials/footer") -%>