<%- include("../partials/header") -%>
<% if(message){ %>
	<h4>
		<%= message %>
	</h4>
<% } %>
<% if(err){ %>
	<h4>
		<%= err %>
	</h4>
<% } %>

<h1>
	Sign up
</h1>

<!-- Oauth authentication methoods -->

<!-- Check if specifice methood is allowed -->
<% if(allow.google){ %>
	<a class="google-btn" href="/register/google">Sign up with Google</a>
<% } %>
<% if(allow.facebook){ %>
	<a class="google-btn" href="/register/facebook">Sign up with Facebook</a>
<% } %>
<% if(allow.github){ %>
	<a class="google-btn" href="/register/github">Sign up with Github</a>
<% } %>

<!-- Local authentication methoods -->
<form action="/signup" method="POST">
	<label for="username">Username</label>
	<input type="text" id="username" name="username">
	
	<label for="namefeild">Name</label>
	<input type="text" id="namefeild" name="namefeild">
	
	<label for="passwordfeild">Password</label>
	<input type="password" id="passwordfeild" name="password">
	
	<button type="submit">
		Sign up
	</button>
</form>

<%- include("../partials/footer") -%>