<%- include("../partials/header") -%>
<h1>
	Sign up
</h1>

<!-- Oauth authentication methoods -->
<a class="google-btn" href="/register/google">Sign up with Google</a>

<!-- Local authentication methoods -->
<%- include("../partials/footer") -%>